
/* Navbar Styling */

.navbar {

    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    padding: 0px 20px;
    box-sizing: border-box;

    background-color: #4a5881;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo-and-name {
    height: 60px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.navbar .logo-and-name h1 {
    padding: 0px;
    margin: auto;
    height: 60px;
}

.navbar nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin-right: 10px;
}

.navbar li a {
    text-decoration: none;
    color: white;
}

.navbar li a:hover {
    color: #000;
}

/* Responsive Styling */
@media (max-width: 767px) {
    .navbar h1 {
        font-size: 20px;
        display: none;
    }
}

.navbar .logo {
    width: 60px;
    height: 60px;
}