<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/content.css">
    <link rel="stylesheet" type="text/css" href="/css/general.css">

    <title>Waypoint Aquatics</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <meta name="description" content="Waypoint Aquatics is a hub for clients in the Fraser Valley to book lifeguard services for their events.">
    
    <meta property="og:title" content="Waypoint Aquatics">
    <meta property="og:description" content="Hire private lifeguards in the Fraser Valley.">
    <meta property="og:image" content="/images/logo_blue.png">
    <meta property="og:url" content="">
</head>
<body>
    <header class="navbar">
        <a href="#welcome">
            <div class="logo-and-name">
                <img src="/images/logo-white.png" alt="Waypoint Aquatics Logo" class="logo">
                <h1>Waypoint Aquatics</h1>
            </div>
        </a>
        <nav>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#request">Request</a></li>
        </nav>
    </header>

    <div class="content">

        <section id="welcome">
            <div id="spacer"></div>

            <div class="mission">
                <p1>Our goal at Waypoint Aquatics is for the groups we work with to have fun while staying safe in and around the water.</p1>
                <a href="#request">Request a Lifeguard</a>
            </div>
        </section>

        <section id="about">
            <h2>About Us</h2>
            <p>
                Waypoint Aquatics was started at the beginning of 2023 by Hilary Demsey. As a lifeguard of 11 years, Hilary recognized a need for groups to have access to privately insured lifeguards, which is where the idea of Waypoint Aquatics began. Not only does Waypoint Aquatics provide insured lifeguards for private events, but we strive to further educate the public on water safety!
            </p>
        </section>

        <section id="wave1"></section>

        <section id="services">

            <div class="services">
                <h2>Services & Pricing</h2>
                <ul>
                    <li>$75/hr/lifeguard (maximum of 40 participants per lifeguard; groups with more than 40 participants in the water at a time must have a second lifeguard)</li>
                    <li>Please note that set rates may be discussed for very large (200+ participants) or multi-day (3 or more days) events. Email <a href="mailto:waypointaquatics@gmail.com" class="mail-link">waypointaquatics@gmail.com</a> with the details of your request.</li>
                </ul>
            </div>

            <div class="policies">
                <h2>Policies</h2>
                <ul>
                    <li><u>Cancellation policy:</u> Cancellations up to 7 days before the event will receive a full refund. Cancellations within 7 days up to 48 hours before the event are eligible for a 50% refund. Cancellations within 48 hours of the event are not eligible for a refund. </li>
                    <li><u>Weather policy:</u> Our lifeguards attend events rain or shine. Regular cancellation policy applies should you choose to cancel your event due to weather. In the event of inclement weather, you will receive a credit for 100% of the booking cost. This credit can be applied to your re-scheduled event or to an event in the future.</li>
                    <li><u>Ratio policy:</u> Please note that one lifeguard is permitted to supervise up to 40 participants in the water (this ratio may be reduced depending on participant age and swimming level). For events with more than 40 participants in the water at a time, a second lifeguard must be booked.</li>
                    <li><u>Booking policy:</u> Minimum 2-hour booking required.</li>    
                    <li><u>Location policy:</u> Waypoint Aquatics primarily offers service at locations within the Metro-Vancouver and Fraser Valley areas. Additional travel fees apply to requests at locations outside of these regions.</li>
                </ul>
            </div>

        </section>

        <section id="request">
            <h2>Request a Lifeguard</h2>
            <form action="/request" method="POST">
                <div class="form-item">  
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" required>
                </div>
                <div class="form-item">  
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="form-item">  
                    <label for="phone">Phone Number</label>
                    <input type="tel" name="phone" id="phone" required>
                </div>
                <div class="form-item">  
                    <label for="date">Date</label>
                    <input type="date" name="date" id="date" required>
                </div>
                <div class="form-item">  
                    <label for="time">Start Time</label>
                    <input type="time" name="starttime" id="time" required>
                </div>
                <div class="form-item">  
                    <label for="time">End Time</label>
                    <input type="time" name="endtime" id="time" required>
                </div>
                <div class="form-item">  
                    <label for="location">Location</label>
                    <input type="text" name="location" id="location" required>
                </div>
                <div class="form-item">  
                    <label for="number">Party Size</label>
                    <input type="number" name="size" id="number" required>
                </div>
                <div class="form-item">  
                    <label for="comments">Comments</label>
                    <textarea name="comments" id="comments" cols="30" rows="10"></textarea>
                </div>
                <input type="submit" value="Request">
            </form>
        </section>
    </div>
</body>
</html>