<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/content.css">
    <link rel="stylesheet" type="text/css" href="/css/general.css">
    <title>Waypoint Aquatics</title>
</head>
<body>
    <header class="navbar">
        <a href="#welcome"><h1>Waypoint Aquatics</h1></a>
        <nav>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#request">Request</a></li>
        </nav>
    </header>

    <div class="content">

        <section id="welcome">
            <div id="spacer"></div>

            <div class="mission">
                <p1>We connect you to certified lifeguards in the Fraser Valley.</p1>
                <a href="#request">Request a Lifeguard</a>
            </div>
        </section>

        <section id="about">
            <h2>About Us</h2>
            <p>
                We are a small team of lifeguards based out of the Fraser Valley who are passionate about water safety and want to make sure that everyone has a safe and fun time in the water.
                Our lifeguards are all certified by the Lifesaving Society and have years of experience working in public and private pools.
            </p>
        </section>

        <section id="wave1"></section>

        <section id="services">

            <div class="services">
                <h2>Services</h2>
                <ul>
                    <li><strong>Private Lifeguarding</strong></li>
                    <ul>
                        <li>Certified with Lifesaving Society's "National Lifeguard" certification</li>
                        <li>$75 an hour</li>
                    </ul>
                    
                    <li><strong>Private Swimming Lessons</strong></li>
                    <ul>
                        <li>Certified with Lifesaving Society's "Swim Instructor" certification</li>
                        <li>$75 an hour</li>
                    </ul>
                </ul>
            </div>

            <div class="policies">
                <h2>Policies</h2>
                <ol>
                    <li>One lifeguard can guard up to 40 people</li>
                    <li>Availibility of Lifeguards can vary</li>
                    <li>Waypoint Aquatics may reject jobs outside of the Fraser Valley area</li>
                    <li>Fees may be subject to change, depending on location</li>
                </ol>
            </div>

        </section>

        <section id="request">
            <h2>Request a Lifeguard</h2>
            <form action="/request" method="POST">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
                <label for="phone">Phone Number</label>
                <input type="tel" name="phone" id="phone" required>
                <label for="date">Proposed Date</label>
                <input type="date" name="date" id="date" required>
                <label for="time">Proposed Start Time</label>
                <input type="time" name="starttime" id="time" required>
                <label for="time">Proposed End Time</label>
                <input type="time" name="endtime" id="time" required>
                <label for="location">Location</label>
                <input type="text" name="location" id="location" required>
                <label for="number">Party Size</label>
                <input type="number" name="size" id="number" required>
                <label for="comments">Comments</label>
                <textarea name="comments" id="comments" cols="30" rows="10"></textarea>
                <input type="submit" value="Request">
            </form>
        </section>
    </div>
</body>
</html>