<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/success.css}" rel="stylesheet" />
    <link th:href="@{/css/general.css}" rel="stylesheet" />

    <title>Waypoint Aquatics</title>
</head>
    <body>
        <section id="success">
            <h1>Success</h1>
            <p>Thank you for your request. We will be in touch with you shortly.</p>
            <a href="./">Return to Waypoint Aquatics</a>
        </section>
    </body>
</html>
